{%extends "layout.html"%}
{%block content%}
 <!--the templating engine that flask uses is called jinga2 and it allows us to write code here
within our templates. We open up a code block by using the percntage sign inside curly brackets-->
   {% for post in posts %}
        <h1>{{post.title}}</h1><!--this is not a code block, we're printing out variables using the
        dot accessor-->
        <p>By {{post.author}} on {{post.date_posted}}</p>
        <p>{{post.content}}</p>
   {% endfor %}<!--Tell the templating engine to end the for loop-->
{%endblock content%}